.body {
    font-family: "Roboto", "Raleway", sans-serif;
    font-optical-sizing: auto;
    color: var(--slate);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
    text-decoration: none;
}

.contacts {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--slate);
}

.contacts:hover {
    font-weight: 400;
    color: var(--ocean);
}

.menu,
.menu-studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-decoration: none;
}

menu:hover,
.menu-studio:hover {
    color: var(--ocean);
}

.menu-studio:active {
    text-decoration: underline;
}